<IfModule dir_module>
    DirectoryIndex index.html
</IfModule>

<IfModule mime_module>
AddType application/x-httpd-php .php .html
</IfModule>


RewriteEngine On
RewriteRule ^([^\.]+)$ user.php?u=$1
RewriteRule ^([^\.]+)$ user.php?u=$1
RewriteRule ^@([^\.]+)$ user.php?u=$1
RewriteRule ^@([^\.]+)$ user.php?u=$1